{% raw %}{% load static compress meta %}

<!DOCTYPE html>
<html class="no-js" lang="en">
<head {% meta_namespaces %}>
    {% include "meta/meta.html" %}
    
    {% compress css %}
        {% block styles %}
            <link type="text/x-scss" href="{% static 'base/scss/base.scss' %}" rel="stylesheet" media="screen">
        {% endblock %}

        {% block extra_styles %}
        {% endblock %}
    {% endcompress %}

    {% block cdn_styles %}
    {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">

{% block navbar_content %}
{% endblock %}

{% block content %}
{% endblock %}

<footer>
    {% block footer_content %}
    {% endblock %}
    
    {% compress js %}
        {% block scripts %}
            <script src="{% static 'base/js/base.js' %}"></script>
            <script src="{% static 'vuejs/production/vue.min.js' %}"></script>
            <script src="{% static 'axios/production/axios.min.js' %}"></script>
        {% endblock %}

        {% block extra_scripts %}
        {% endblock %}

        {% block vuejs %}
        {% endblock %}
    {% endcompress %}
    
    {% block cdn_scripts %}
    {% endblock %}
</footer>
</body>
</html>{% endraw %}